extends layout

block content
  .main
    h1 Enter player name
    form(action="/round" method="post")
      .row
        .input-field
          label(for="player") Player
          input(type="text" name="player" id="player" required="required" placeholder="Enter your name")
          p The player name is required
      .row
        .input-field
          button(type="submit").btn Start