extends layout

block content
  .main(ng-app="looser")
    .content(ng-controller="LooserController")
      h1 We have a looser :(
      h2 {{player}} we know that you make the impossible for win
    a(href="/"): p Try again!!

  script(type="text/javascript" src="/js/cookies.js")
  script(type="text/javascript" src="/js/angular.min.js")
  script.
    var player = getWordsFromCookie('player');

    angular.module('looser', [])
      .controller('LooserController', function($scope) {
        $scope.player = player[0];
      });