extends layout

block content
  .main(ng-app="winner")
    .content(ng-controller="WinnerController")
      h1 We have a winner!
      h2 {{player}} is the new Conqueror!
    a(href="/"): p Play again!

  script(type="text/javascript" src="/js/cookies.js")
  script(type="text/javascript" src="/js/angular.min.js")
  script.
    var player = getWordsFromCookie('player');

    angular.module('winner', [])
      .controller('WinnerController', function($scope) {
        $scope.player = player[0];
      });